<!DOCTYPE html>
  <html>
    <head>
    </head>
    
    <body bgcolor="CCCCCC">
      <p bgcolor="999999", text="000000">
        <%= link_to 'メイン', main_path %>
        <%= link_to 'いいね・予約一覧', bookmark_path %>
      </p>
      
      <p align="right", bgcolor="999999", text="000000">
        <%= link_to 'ログアウト', top_path %>
      </p>
      
      <hr>
      
      <% @clubs.each do |e| %>
        <p>
          <%= e.message %>
          <%= link_to 'ページへ', soccer_path %>
        </p>
      <% end %>
      
    </body>
  </html>