<!DOCTYPE html>
  <html>
    <head>
      <style type = "text/css">
        h1{font-size:100px;}
      </style>
    </head>
    
    <body bgcolor="CCCCCC">
      <p align="right">
       <%= link_to '戻る', top_path %>
      </p>
      
      <h1> Kindai ASA </h1>
    
      <h2> 在学生用 </h2>
      <h3> ログイン </h3>
  
      <%= form_tag stlogin_path, method: :post do %>
        <%= label_tag :kindaimail, 'メールアドレス' %> 
        <%= text_field_tag :kindaimail %> 
        <%= label_tag :gakuseki, '学籍番号' %> 
        <%= password_field_tag :gakuseki %> 
        <%= submit_tag 'ログイン' %>
      <% end %>
    
      <p bgcolor="999999", text="000000">
        <%= link_to '新規追加', newuser_path %>
      </p>
    </body>
  </html>